#header {
    text-align: center;
    
    color: pink;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    border-style: dotted;
    border-radius: 3px;
    }
    
    .products {
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    width: 100%;
    list-style: none;
    
    }
    
    .hiddenProducts {
        display:none;
    }
    
    .item {
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    width: 20%;
    height: 400px;
    padding: 30px 30px;
    text-align: center;
    margin: 10px;
    }
    
    .available {
    color: blueviolet;
    }
    
    .sold-out {
    color: red;
    }
    
    .image-styles {
    position: relative;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    border-style: solid;
    }
    
    /* za buttons koristio http://css3buttongenerator.com/ */
    .btn-default {
    background: #e671c7;
    background-image: -webkit-linear-gradient(top, #e671c7, #57013c);
    background-image: -moz-linear-gradient(top, #e671c7, #57013c);
    background-image: -ms-linear-gradient(top, #e671c7, #57013c);
    background-image: -o-linear-gradient(top, #e671c7, #57013c);
    background-image: linear-gradient(to bottom, #e671c7, #57013c);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 20px auto 0px auto;
    }
    
    .btn-default:hover {
    background: #f0c5e4;
    background-image: -webkit-linear-gradient(top, #f0c5e4, #730054);
    background-image: -moz-linear-gradient(top, #f0c5e4, #730054);
    background-image: -ms-linear-gradient(top, #f0c5e4, #730054);
    background-image: -o-linear-gradient(top, #f0c5e4, #730054);
    background-image: linear-gradient(to bottom, #f0c5e4, #730054);
    text-decoration: none;
    }
    
    body {
    background-color: pink;
    background-image: url("../IMG/heart2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    }
    
    .btn-nope {
    visibility:hidden;
    background: #e671c7;
    background-image: -webkit-linear-gradient(top, #e671c7, #57013c);
    background-image: -moz-linear-gradient(top, #e671c7, #57013c);
    background-image: -ms-linear-gradient(top, #e671c7, #57013c);
    background-image: -o-linear-gradient(top, #e671c7, #57013c);
    background-image: linear-gradient(to bottom, #e671c7, #57013c);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    margin: 20px auto 0px auto;
    }
    
    #playa {
    display: block;
    margin: 0 auto;
    }
    
    .albums {
    padding-left:0;
    }
    
    #mList {
    display: block;
    margin: 0px auto;
    width: 50%;
    color: blueviolet;
    font-size: 22px;
    background: rgba(200, 83, 230, 0.5);
    border-radius: 5px;
    text-align: center;
    }
    
    #signup {
    display: block;
    margin: 0px auto;
    width: 30%;
    text-align: center;
    }
    
    #submitBtn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    }
    
    #submitBtn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    }
    
    a:link, a:visited {
        background-color: white;
        color: black;
        border: 2px solid blueviolet;
        padding: 8px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a:hover, a:active {
        background-color: pink;
        color: white;
    }
    
    .container {
        display: block;
        margin: 0px auto;
        width: 20%;
        height: 180px;
        text-align: center;
        display:none;
        background-color:blueviolet;
    }
    
    #user {
        display: block;
        margin: 0px auto;
    }
    
    #password {
        display: block;
        margin: 0px auto;
    }
    
    .unamePass {
        display:none;
        position:relative;
    }
    
    .violet {
        background-color: blueviolet;
    }
    
    .white {
        background-color: white;
    }
    
    .whiteT {
        color:white;
    }
    
    .mess {
        border-radius: 50%;
        border-color: darkviolet;
        opacity: 0.2;
    }
    
    .titleMess {
        color: white;
        font-size:20px;
    }
    
    .body-mess {
        background-color: pink;
        background-image: url("../IMG/heart2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        }
    
        .bodyM {
            background-color: pink;
            background-image: url("../IMG/heart1.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center; 
            }